@use '../../components//GlobalStyles/' as *;

.gallery-page {
    margin: 300px 0 50px 0;

    @include mobile {
        margin: 150px 0 50px 0;
    }
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.image {
    position: relative;
    width: 25%;
    // height: 25vw;
    aspect-ratio: 1 / 1;
    cursor: pointer;

    &:hover .view {
        opacity: 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include mobile {
        width: 50%;
    }
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $text-light;
    z-index: 1;
    @include flex(center, center);
    flex-direction: column;
    opacity: 0;
    transition: 0.2s ease-in-out;

    .icon {
        font-size: 30px;
    }

    p {
        font-family: 'Gotham Bold';
        font-size: 13px;
        margin-top: 12px;
        text-transform: uppercase;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000000, 0.6);
        z-index: -1;
    }
}

.detail-popup {
    position: relative;
    z-index: 100;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.6);
    z-index: -1;
}

.popup-container {
    position: fixed;
    width: 90%;
    height: 90%;
    min-height: 530px;
    display: flex;
    background: #fff;
    padding: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 20px;

    @include mobile {
        flex-direction: column;
    }
}

.detail-image {
    width: 50%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include mobile {
        width: 100%;
        height: 50%;
    }
}

.detail-content {
    width: 50%;
    padding-left: 12px;
    padding-top: 12px;
    overflow-y: scroll;

    & > a {
        text-transform: uppercase;
        color: #898989;
        font-size: 13px;

        &:hover {
            text-decoration: underline;
            color: #1585cf;
        }
    }

    .title {
        font-size: 14px;
        // font-family: 'Gotham Bold';
        margin-top: 12px;
    }

    @include mobile {
        width: 100%;
    }
}

.hashtags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 12px;
    font-size: 14px;

    .tag {
        a {
            color: #00376b;

            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }
    }
}

.products-in-image {
    margin-top: 50px;

    .title {
        font-size: 16px;
        font-family: 'Gotham Light';
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 12px;
    }

    @include mobile {
        margin-top: 20px;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    position: relative;
    width: calc(50% - 16px) !important;
    margin: 8px;
    aspect-ratio: 1 / 1;
    text-align: center;
    padding: 0 !important;
    border: 1px solid #bfbfbf !important;
    border-radius: 5px !important;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: transparent;
        opacity: 0;
        transform: translateY(100px);
        transition: transform 0.5s ease, opacity 0.5s ease;
        z-index: 1;
    }
    &:hover {
        &::before {
            background-color: rgba($color: #000000, $alpha: 0.4);
            opacity: 1;
            transform: translateY(0);
        }
        .product-content {
            .name,
            .price {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .buttons {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.product-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    .name {
        color: $text-light;
        font-size: 17px;
        font-weight: 500;
        margin-top: 6px;
        text-align: center;
        opacity: 0;
        transform: translateY(100px);
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .price {
        color: $text-light;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        opacity: 0;
        transform: translateY(100px);
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
}
.buttons {
    position: absolute;
    font-size: 20px;
    color: $text-light;
    width: 100%;
    bottom: 30%;
    left: 0;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 1;

    .view-detail {
        color: #fff;
    }

    div,
    a {
        cursor: pointer;
        padding: 6px;

        &:hover {
            color: #1585cf;
        }
    }
}

.product-image {
    position: relative;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.loader {
    margin-top: 50px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 24px;
    padding: 6px 12px;
    background: #fff;
    font-size: 24px;
    cursor: pointer;

    &:hover {
        color: #f00;
    }
}

.navigate-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 115%;
    transform: translate(-50%, -50%);
    @include flex(space-between, center);
    padding: 0 12px;
    pointer-events: none;
}

.btn {
    width: 50px;
    height: 50px;
    font-size: 40px;
    @include flex(center, center);
    border-radius: 50%;
    color: #ccc;
    background: rgba(#000, 0.3);
    cursor: pointer;
    pointer-events: auto;
}
