@use '../../components//GlobalStyles/' as *;

.cart-page {
    margin-top: 300px;

    @include mobile {
        margin: 150px 0 50px 0;
    }
}

.title {
    margin-bottom: 30px;
}

@include mobile {
    .cart-table__body {
        display: flex;
        flex-wrap: wrap;
    }
}

.product {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

.product__thumbnail {
}

.product__text {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #2d261f;
}

.product__text-name {
    font-size: 18px;
    height: 40px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product__text-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.product__text-price {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    align-items: baseline;
    padding: 0px;
    gap: 4px;
}

.product__text-quantity {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #4c6769;
}

.product__text-quantity-btn {
    font-size: 23px;
}

// Table
.product-image {
    display: block;
    position: relative;
    padding-bottom: 100%;
    width: 100%;

    img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: scale-down;
        object-fit: scale-down;
    }
}

.product-info {
    font-family: 'Roboto-Regular', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    a:hover {
        color: #47991f;
    }
}

.action__btnCount {
    margin: 5px;
    display: block;
    position: relative;
    width: 120px;
}

.btnCount-btnSub,
.btnCount-btnAdd {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    opacity: 0.3;
    transition: opacity 0.18s;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.btnCount-btnAdd {
    right: 5px;
}
.btnCount-btnSub {
    left: 5px;
}

.btnCount-input {
    display: block;
    width: 120px;
    height: calc(2.75rem + 2px);
    line-height: 1.25;
    min-width: 88px;
    font-size: 1.25rem;
    // font-family: Roboto serif;
    padding: 0 24px 1px;
    text-align: center;
}

.menu-item-btn {
    width: calc(1.875rem + 10px);
    height: calc(1.875rem + 10px);
    margin-right: -20px;
    border-color: transparent;
    background: transparent;
    fill: #ccc;
    cursor: pointer;

    &:hover {
        background: #f0f0f0;
        fill: #3d464d;
    }
}

.actions {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mobile {
        display: block;

        .button {
            font-size: 1.3rem;
        }
    }
}

.checkout-button {
    @include flex(center, center);

    * ~ * {
        margin: 5px;
    }
}

.checkout-form {
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.2);
}

.checkout-form-body {
    padding: 2rem;
    flex: 1 1 auto;
    min-height: 1px;
}

.checkout-form-calculate {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
}

.checkout-form-calculate-title {
    @include flex(space-between, center);
}

.form-calculate-title-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.checkout-form-total {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 40px;

    @include mobile {
        padding-top: 10px;
        margin-bottom: 15px;
    }
}

.page-empty {
    margin-bottom: 50px;
}

.empty-body {
    text-align: center;
    padding: 18px 0 60px;
}

.empty-body-image {
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.empty-body-btn {
    margin-top: 24px;
}

// Modal
.modal__body {
    padding: 30px 20px 10px 20px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
}

.modal__box {
    background: #f2f2f2;
    padding: 16px;
    margin: 0 32px;
    display: flex;
    border-radius: 4px;
}

.modal__input {
    display: inline-block;
    flex: 1 1 0%;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    height: 40px;
    width: calc(100% - 108px);
    color: #242424;
    font-size: 13px;
    line-height: 1.54;
    margin: 5px 12px 5px 0;
    background-image: url('../../assets/images/coupon_icon.svg');
    background-repeat: no-repeat;
    background-position: 12px;
    padding: 10px 12px 10px 40px;
    outline: 0;
    vertical-align: top;
}

.modal__text {
    padding: 12px 32px;
}

.modal__label {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
}
