@use '../../components//GlobalStyles/' as *;

.checkout-page {
    margin-top: 300px;

    @include mobile {
        margin: 150px 0 50px 0;
    }
}

.title {
    margin-bottom: 30px;
}

.note {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
}

.text {
    word-wrap: break-word;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    background: #fff;
    color: #3d464d;
}

.body {
    padding: 2rem;
    flex: 1 1 auto;
    min-height: 1px;
    box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.2);
}

.body-title {
    font-family: 'Roboto-Regular', 'sans-serif';
    margin-bottom: 1.75rem;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
}

.body-form {
    margin-bottom: 1.5rem;
}

.body-list {
    display: flex;
    flex-direction: column;
}

.body-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.infor {
    display: flex;
    align-items: stretch;
    margin-top: 12px;

    @include mobile {
        flex-direction: column;
    }
}

.form {
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.2);
}

.form-body {
    padding: 2rem;
    flex: 1 1 auto;
    min-height: 1px;
}

.form-caculate {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    margin-bottom: 40px;
}

.form-calculate-title {
    display: flex;
    justify-content: space-between;
    line-height: 14px;
}

.form-calculate-title-text {
    font-weight: 700;
    padding: 6px;
    font-size: 16px;
    line-height: 20px;
}

.form-total {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 40px;
}

.address {
    width: 50%;
    margin-right: 10px;
}

.coupon {
    width: 50%;
    margin-left: 5px;
}

.address,
.coupon {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.2);

    @include mobile {
        width: 100%;
        margin: 10px 0;
    }
}

.change {
    display: flex;
    justify-content: space-between;
}

.change-a {
    color: #0d5cb6;
    cursor: pointer;
}

.add {
    a {
        font-size: 15px;
        color: #0d5cb6;
        text-decoration: underline;
        cursor: pointer;
    }
}

.address-add-phone {
    margin-bottom: 5px;
    font-size: 15px;
    display: inline-block;
    font-weight: 600;
    color: #242424;
}

.address-add-address {
    color: #787878;
    font-size: 13px;
}

.coupon-chonse {
    display: flex;
    align-items: center;
    color: #0d5cb6;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    cursor: pointer;
}

.link {
    font-family: 'Roboto-Regular', 'sans-serif';
    padding: 10px 0 20px 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #47991f;
}

.payment {
    margin-bottom: 30px;
}

.item {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    height: 40px;
    transition: height 0.3s ease;

    + .item {
        margin-top: 6px;
    }

    &.check {
        height: 75px;
        background-color: #f7f7f7;
        .isCheck {
            border: 1px solid #47991f;
            background-color: #47991f;
        }
        .item-des {
            opacity: 1;
        }
    }
}

.isCheck {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    background-color: #fff;

    &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        background-color: #fff;
        transform: translate(-50%, -50%);
    }
}

.item-label {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.01em;
    cursor: pointer;
    margin-bottom: 0;
}

.item-des {
    font-size: 15px;
    opacity: 0;
    line-height: 20px;
    padding: 2px 16px 13px;
    color: #6c757d;
    transition: opacity 0.2s ease;
}

.empty {
    margin-bottom: 50px;
}

.empty-body {
    text-align: center;
    padding: 18px 0 60px;
}

.empty-body-image {
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.empty-body-btn {
    margin-top: 24px;
}

.button {
    width: 100%;

    @include mobile {
        font-size: 2rem;
    }
}

// Modal
.modal__body {
    padding: 30px 20px 10px 20px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;

    @include mobile {
        padding: 0;
    }
}

.modal__box {
    background: #f2f2f2;
    padding: 16px;
    margin: 0 32px;
    display: flex;
    border-radius: 4px;

    @include mobile {
        padding: 0 10px;
        margin: 0;
    }
}

.modal__input {
    display: inline-block;
    flex: 1 1 0%;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    height: 40px;
    width: calc(100% - 108px);
    color: #242424;
    font-size: 13px;
    line-height: 1.54;
    margin: 5px 12px 5px 0;
    background-image: url('../../assets/images/coupon_icon.svg');
    background-repeat: no-repeat;
    background-position: 12px;
    padding: 10px 12px 10px 40px;
    outline: 0;
    vertical-align: top;
}

.modal__text {
    padding: 12px 32px;
}

.modal__label {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: #000;
}
