@use '../../../components/GlobalStyles/' as *;

.footer {
    padding: 50px 0;
}

.menu {
    @include flex(center, unset);
    margin-bottom: 70px;

    @include mobile {
        flex-wrap: wrap;
        // flex-direction: column;
    }
}

.block {
    width: 20%;
    text-align: center;
    padding: 0 15px;

    @include mobile {
        width: 50%;
        padding: 0;
        margin-bottom: 2rem;
    }

    .title {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .list-item {
        li {
            a {
                font-size: 13px;

                &:hover {
                    text-decoration: underline;
                }
            }

            &:not(:first-child) {
                margin-top: 6px;
            }
        }
    }
}

.showrooms {
    text-align: center;
    margin-bottom: 70px;

    .showroom {
        font-size: 20px;
        line-height: 1.7;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .name {
            font-weight: normal;
            text-transform: uppercase;
        }
        .address {
            font-size: 13px;
        }
    }
}

.copyright {
    text-align: center;
    font-size: 20px;

    p {
        text-transform: uppercase;
        margin-bottom: 6px;
        font-weight: bold;
        font-size: 13px;
    }

    a {
        font-size: 13px;
        padding: 0 12px;

        &:not(:last-child) {
            border-right: 1px solid #000000;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
