@use '../../../components/GlobalStyles/' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    -webkit-backface-visibility: hidden;

    &.shrink {
        .middle,
        .logo,
        .searchBox,
        .cart-icon {
            display: none;
        }
    }

    &.shrink {
        @include mobile {
            .middle,
            .logo,
            .cart-icon {
                display: block;
            }
            .logo {
                img {
                    filter: invert(1);
                }
            }
            .cart-icon {
                background-position: 0px -50px;
                transition: display 0.5s ease;

                .cart-amount {
                    color: $text-light;
                }
            }
            .searchIconMobile {
                background-position: 0px 0px;
                transition: display 0.5s ease;
            }
        }
    }
}

.shrink {
    .header-main {
        background-color: rgba(#1d1d1d, 0.9) !important;
        transition: background-color 0.4s ease;
    }
    .menu-item {
        &::before {
            background-color: $text-light;
            transition: background-color 0.4s ease;
        }
        a {
            color: $text-light;
            transition: color 0.4s ease;
        }
    }
}

.topbar {
    background-color: #000000;
    .inner {
        @include flex(space-between, center);
    }
}

.topbar-left,
.topbar-right {
    @include flex(unset, center);
}

.menu-reponsive {
    display: none;
    font-size: 25px;
    color: #fff;
    margin-left: -10px;

    @include mobile {
        display: block;
    }
}

.menu-options-reponsive {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    overflow-y: auto;
    transition-duration: 0.8s;
    text-align: center;

    &.show {
        height: auto;
        bottom: 0;
    }

    .menu-options-list {
        margin-top: 6rem;
    }

    .menu-options-item {
        opacity: 1;
        transform: translate(0, 0) scale(1);
        margin-bottom: 3rem;

        a {
            font-size: 3rem;
            color: $text-light;
            transition: color 0.4s ease;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.menu-options-close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: $text-light;
    font-size: 3rem;
}

.logo-home {
    position: relative;
    width: 100px;
    height: 50px;
    padding: 5px 10px;

    @include mobile {
        margin-left: 5px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}
.slogun,
.hotline {
    position: relative;
    color: $text-light;
    height: 50px;
    padding: 10px 15px;
    line-height: calc(50px - 10px * 2);
    font-size: 11px;
    letter-spacing: 1px;
    opacity: 0.8;
    text-transform: uppercase;

    &:hover {
        opacity: 1;
        text-decoration: underline;
    }
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 30px;
        width: 1px;
        opacity: 0.8;
        transform: translateY(-50%);
        background-color: $text-light;
    }
}

@include mobile {
    .slogun,
    .hotline,
    .navigation {
        display: none;
    }
    .searchBox {
        margin: -10px;
    }
}

.right-item {
    position: relative;
    color: $text-light;
    height: 50px;
    padding: 10px 15px;
    line-height: calc(50px - 10px * 2);
    font-size: 11px;
    letter-spacing: 1px;
    opacity: 0.8;
    text-transform: uppercase;

    &:hover {
        opacity: 1;
        text-decoration: underline;
    }

    &:not(:first-child) {
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            height: 30px;
            width: 1px;
            opacity: 0.8;
            transform: translateY(-50%);
            background-color: $text-light;
        }
    }

    @include mobile {
        padding: 2px 8px;
    }
}
.flag {
    margin-left: 12px;
    @include flex(unset, center);
    gap: 6px;

    img {
        padding: 6px;
        cursor: pointer;

        &:hover {
            background: #fff;
            border-radius: 5px;
        }
    }
    @include mobile {
        margin-left: 5px;
        margin-right: -15px;
    }
}

.header-main {
    background-color: #c0c0c0;
}

.middle {
    display: block;
    padding: 30px 0;
    transition: display 0.5s ease;

    @include mobile {
        padding: 10px 0;
    }

    .inner {
        @include flex(space-between, center);

        @include mobile {
            .searchBox {
                display: none;
            }
            .logo {
                width: 100px;
                height: 50px;
                margin: 0;
                transition: all 1s ease-in-out;
            }
        }
    }
}

.navigation {
    border-top: 1px solid #e6e8ea;
    border-bottom: 1px solid #e6e8ea;
    .inner {
        @include flex(center, center);
    }
}

.menu-item {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background: #000000;
        transition: 0.3s ease-in-out;
    }

    &:hover::before,
    &.active::before {
        width: 100%;
    }

    a {
        display: block;
        padding: 0 18px;
        line-height: 60px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
    }
}

.searchIconMobile {
    display: none;
    width: 26px;
    height: 32px;
    text-align: center;
    background-image: url('../../../assets/images//icon-sprites.png');
    background-position: 50px 0px;
    background-size: 100px 150px;
    cursor: pointer;

    @include mobile {
        display: block;
    }
}

.logo {
    margin-left: -150px;
    width: 250px;
    height: 100px;
    object-position: center;
    transition: display 0.5s ease;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.home-page {
    .header-main {
        @include overlay();
    }

    .searchBox {
        background-color: $text-light;
        transition: display 0.5s ease;
    }

    .searchInput {
        background-color: $text-light;
        color: $text-dark;
    }

    .searchButton {
        background-color: $text-dark;
        color: $text-light;
    }

    .searchIcon {
        color: $text-dark;
    }

    .searchIconMobile {
        background-position: 0px 0px;
        transition: display 0.5s ease;
    }

    .logo {
        img {
            filter: invert(1);
        }
    }

    .cart-icon {
        background-position: 0 -50px;
        transition: display 0.5s ease;

        .cart-amount {
            color: $text-light;
        }
    }
    .navigation {
        border-color: rgba($text-light, 0.1);
    }

    .menu-item {
        &::before {
            background-color: $text-light;
        }

        a {
            color: $text-light;
        }
    }
}
